@import "project.less";
@import "smart-grid.less";

.reset();

// * {
//   box-sizing: border-box;
// }

@font-face {
  font-family: "OpenSans";
  src: url('../fonts/OpenSans/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype'),
    url('../fonts/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url('../fonts/OpenSans-Bold/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold/OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpenSans-Bold/OpenSans-Bold.ttf') format('truetype'),
    url('../fonts/OpenSans-Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url('../fonts/OpenSans-SemiBold/OpenSans-SemiBold.eot');
  src: url('../fonts/OpenSans-SemiBold/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold/OpenSans-SemiBold.woff') format('woff'),
    url('../fonts/OpenSans-SemiBold/OpenSans-SemiBold.ttf') format('truetype'),
    url('../fonts/OpenSans-SemiBold/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Medium";
  src: url('../fonts/Raleway-Medium/Raleway-Medium.eot');
  src: url('../fonts/Raleway-Medium/Raleway-Medium.woff2') format('woff2'),
    url('../fonts/Raleway-Medium/Raleway-Medium.woff') format('woff'),
    url('../fonts/Raleway-Medium/Raleway-Medium.ttf') format('truetype'),
    url('../fonts/Raleway-Medium/Raleway-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-SemiBold";
  src: url('../fonts/Raleway-SemiBold/Raleway-SemiBold.eot');
  src: url('../fonts/Raleway-SemiBold/Raleway-SemiBold.woff2') format('woff2'),
    url('../fonts/Raleway-SemiBold/Raleway-SemiBold.woff') format('woff'),
    url('../fonts/Raleway-SemiBold/Raleway-SemiBold.ttf') format('truetype'),
    url('../fonts/Raleway-SemiBold/Raleway-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Bold";
  src: url('../fonts/Raleway-Bold/Raleway-Bold.eot');
  src: url('../fonts/Raleway-Bold/Raleway-Bold.woff2') format('woff2'),
    url('../fonts/Raleway-Bold/Raleway-Bold.woff') format('woff'),
    url('../fonts/Raleway-Bold/Raleway-Bold.ttf') format('truetype'),
    url('../fonts/Raleway-Bold/Raleway-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


* {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
}

html,
body {
  height: 100%;
  font-size: 20px;
  height: 3000px;
}

a {
  text-decoration: none;
  color: #000000;

}

button {
  cursor: pointer;
  border: none;
}

button,
input[type="search"],
input[type="tel"] {
  color: inherit;
  font: inherit;
  outline: inherit;
  border: none;

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }

  &:focus:-moz-placeholder {
    color: transparent;
  }

  /* FF 4-18 */
  &:focus::-moz-placeholder {
    color: transparent;
  }

  /* FF 19+ */
  &:focus:-ms-input-placeholder {
    color: transparent;
  }

  /* IE 10+ */
}

.res-ml {
  margin-left: 0 !important;
}

.res-mr {
  margin-right: 0 !important;
}

h1,
.h1 {
  font-family: "OpenSans-Bold";
  font-size: 56px;
  line-height: 76px;
  color: #FFFFFF;
}

h2,
.h2 {
  font-family: "Raleway-SemiBold";
  font-size: 46px;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  font-family: "Raleway-Medium";
  font-size: 20px;
}

.intro {
  background: linear-gradient(0deg, rgba(62, 53, 76, 0.6),
      rgba(62, 53, 76, 0.6)), url(../images/backgroung-head.jpg) no-repeat;
  opacity: 0.9;

  background-size: cover;

  &__intro-header {
    margin-top: 43px;

    .md-block( {
        font-size: 40px;
        margin: 0 auto;
        text-align: center;
      }

    );

    .xs-block( {
        font-size: 30px;
        line-height: 50px;
      }

    );
  }

  &__form-request {
    margin-top: 33px;
    max-width: 511px;

    .md-block( {
        margin: 0 auto;
        margin-top: 15px;
      }

    );
  }

  &__capabilities-items {
    margin-top: 76px;
  }
}

.header-upper {
  width: 100%;
  background: #FFFFFF;

  &__content {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    .wrapper();
    padding-top: 10px;
    padding-bottom: 11px;
    font-family: "OpenSans";
    font-size: 14px;

    .sm(justify-content, space-between);
    .xs(font-size, 11px);
  }

  &__phone {
    margin-left: auto;

    .xs(margin-top, 5px);
  }

  &__time {
    margin-left: 50px;

    .xs(margin-top, 5px);
  }
}

.header-adress {
  display: flex;
  align-items: center;
  .size-xs(12);

  .sm(margin, 0);


  .xs-block( {
      text-align: center;
      justify-content: center;
    }

  );

  &__icon-localizer-bl {
    margin-left: 3px;
    margin-right: 10px;
    display: flex;
  }
}

.time {
  display: flex;
  align-items: center;
  .size-xs(6);

  .sm(margin, 0);


  .xs-block( {
      text-align: center;
      justify-content: center;
    }

  );

  &__icon-time {
    margin-right: 10px;
    display: flex;
  }
}

.phone {
  display: flex;
  align-items: center;
  .size-xs(6);

  .sm(margin, 0);

  .xs-block( {
      flex-grow: 1;
      justify-content: center;
    }

  );

  &__text {
    margin-right: 1px;
  }

  &__icon-phone-bl {
    margin-right: 10px;
    display: flex;
  }
}

.header-main {
  padding-top: 19px;
  padding-bottom: 28px;
  background: rgba(255, 255, 255, 0.6);

  &__content {
    .row-flex();
    .wrapper();
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-top: -9px;
    margin-left: -12px;

    .lg(margin, 0 auto);
  }


  &__nav {
    margin-right: 97px;
    padding-top: 10px;

    .sm(padding-top, 28px);
  }
}

.nav {
  display: flex;
  justify-content: flex-start;
  white-space: nowrap;
  .sm(font-size, 16px);

  @media screen and (max-width: 420px) {
    font-size: 14px;
  }

  &__link {
    &:nth-child(6) {
      margin-left: 52px;
      .size-sm(6);
      .size-xs(4);

      .sm-block( {
          text-align: center;
          margin-top: 10px;
        }

      );

    }

    &:nth-child(5) {
      margin-left: 52px;
      .size-sm(6);
      .size-xs(4);

      @media screen and (max-width: 420px) {
        .size(4);
        white-space: normal;
      }

      .sm-block( {
          text-align: center;
          margin-top: 10px;
        }

      );
    }

    &:nth-child(4) {
      margin-left: 52px;
      .size-sm(3);
      .size-xs(4);

      @media screen and (max-width: 420px) {
        .size(4);
      }



      .sm-block( {
          text-align: center;
        }

      );

      .xs-block( {
          margin-top: 10px;
        }

      )
    }

    &:nth-child(3) {
      margin-left: 53px;
      .size-sm(3);
      .size-xs(4);

      @media screen and (max-width: 420px) {
        .size(12);

        margin-top: 15px;
        margin-bottom: 5px;
        flex-grow: 1;
      }

      .sm-block( {
          text-align: center;
          white-space: normal;
        }

      );
    }

    &:nth-child(2) {
      margin-left: 52px;
      .size-sm(3);
      .size-xs(4);

      @media screen and (max-width: 420px) {
        .size(6);
      }

      .sm-block( {
          text-align: center;
        }

      );
    }

    &:nth-child(1) {
      margin-left: -7px;
      .size-sm(3);
      .size-xs(4);

      @media screen and (max-width: 420px) {
        .size(6);
      }

      .sm-block( {
          text-align: center;
        }

      );
    }

    color: @colorText;

  }

  .lg-block( {
      margin: 0 auto;
      flex-wrap: wrap;
      justify-content: space-between;
      .size(12);
    }

  );
}

.nav .nav__link {
  .lg-block( {
      margin: 0;
    }

  );
}

.intro__inner {
  .row-flex();
  .wrapper();
  padding-bottom: 48px;
}

.intro-header {
  .size(9);
}

.form-request {
  position: relative;
  display: flex;
  flex-grow: 1;
  .size(6);

  &__button {
    margin-right: 3px;
  }
}

input.phone-input {
  padding-left: 20px;
  width: 100%;
  height: 56px;
  border-radius: 5px;
  background: #FFFFFF;
  color: #7B7878;
  opacity: 0.7;

  .xs-block( {
      height: 45px;
      font-size: 16px;
    }

  );
}

.button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-25px);
  width: 241px;
  height: 50px;
  border-radius: 4px;
  background: @colorOrange;
  color: #FFFFFF;

  .xs-block( {
      width: 150px;
      height: 39px;
      font-size: 16px;
      transform: translateY(-19.5px);
    }

  );
}

.capabilities-items {
  display: flex;
  flex-wrap: wrap;
  .size(12);

  justify-content: space-between;
  color: #FFFFFF;
  font-family: "Raleway-SemiBold";
  font-size: 16px;
  line-height: 19px;


  .md-block( {
      margin-top: 30px;
    }

  )
}

.capabilities-item {
  display: flex;

  .lg-block( {
      .col();
      .size(3);
    }

  );

  .md-block( {
      margin-top: 15px;
      max-width: none;
      .size(6);
    }

  );

  .xs-block( {
      .size(12);
    }

  );


  &__icon {
    max-width: none;
  }

  &_calendar {
    max-width: 230px;
  }

  &_question {
    max-width: 303px;

    img {
      margin-top: -4px;
    }
  }

  &_examination {
    margin-right: -73px;
    max-width: 281px;
  }

  &_team {
    margin-right: -25px;
    max-width: 194px;
  }

  &__text {
    padding-top: 8px;
    padding-left: 21px;
  }
}

.advantages-container {
  background: #ffffff;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .wrapper();
    padding-top: 81px;
  }

  &__advantages-items {
    margin-top: 48px;
  }

  .h2 {
    .size(8);
    text-align: center;
  }

  .advantages-items {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    min-height: 330px;
  }

  .advantages-item {
    padding-right: 20px;
    display: flex;

    .size(6);
    height: 155px;

    box-shadow: 2px 2px 4px rgba(121, 97, 122, 0.35), -2px -2px 4px rgba(121, 97, 122, 0.35);
    border-radius: 3px;

    img {
      max-width: none;
    }

    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    &__text {
      margin-left: 78px;
      display: inline-block;
      line-height: 26px;

      &_rules {
        max-width: 342px;

        &+.advantages-item__image {
          padding-right: 9px;
          padding-top: 7px;
        }
      }

      &_adaptive {
        max-width: 291px;

        &+.advantages-item__image {
          padding-right: 21px;
        }
      }

      &_analize {
        position: relative;
        max-width: 343px;

        &+.advantages-item__image {
          margin-right: -5px;
          padding-top: 4px;
        }

        &:after {
          position: absolute;
          top: 45px;
          right: -15px;
          content: "";
          background-image: url(../images/sprite/spritesheet.png);
          background-repeat: no-repeat;
          display: block;
          width: 34px;
          height: 38px;
          background-position: -5px -5px;
        }
      }

      &_help {
        max-width: 311px;

        &+.advantages-item__image {
          padding-right: 15px;
          padding-top: 3px;
        }
      }
    }
  }

  .stripes {
    box-sizing: border-box;
    position: relative;
    height: 155px;

    &__stripe {
      position: absolute;
      display: inline-block;
      width: 15px;
      height: 155px;

      &_gr {
        top: 0;
        bottom: 0;
        background: #E0D8E4;
      }

      &_mgr {
        top: 0;
        left: 15px;
        bottom: 0;
        background: #F4EDF7;
      }

      &_lgr {
        top: 0;
        left: 30px;
        bottom: 0;
        background: #FDF8FF;
      }
    }
  }

  .advantages-container__button-modal {
    margin-top: 52px;
  }

  .button-modal {
    padding: 15px 89px;
    font-family: "Raleway-SemiBold";
    text-align: center;
    white-space: nowrap;
    color: #FFFFFF;
    background: @colorOrange;
    border-radius: 4px;
  }
}